<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<form @submit="submit">
			<input type="text" name="">
			<button v-on:click="add">add</button>
		</form>
	</div>

	<ul id="app">
		<li v-for="item in items" :key="item.message">
    		{{ users.name }}
  		</li>
	</ul>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
  	var vm = new Vue({
  		el: '#app',
  		data: {
  			users: [
  				{ name: 'Muhammad Iqbal Mubarok' },
  				{ name: 'Ruby Purwanti' },
  				{ name: 'Faqih Muhamad' }
  			]
  		}
  	})
  </script>
</body>
</html>