<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soal 2</title>
</head>

<body>
  <div id="comment">

    <ul>
      <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:cmt="todo.cmt"
        v-on:remove="todos.splice(index, 1)"></li>
    </ul>

    <form v-on:submit.prevent="addComment">
      <textarea area v-model="newTodoText" id="new-todo" placeholder="Tulis komentar ..."></textarea>
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

    Vue.component('todo-item', {
      template: '\
    <li>\
      {{ cmt }}\
      <button button v- on: click = "$emit(\'remove\')" > -</button >\
    </li >\
      ',
      props: ['cmt']
    })

    var vm = new Vue({
      el: '#comment',
      data: {
        newTodoText: '',
        todos: [
          {
            id: 1,
            cmt: 'komentar 1 komentar 1 komentar 1 || ',
          },
          {
            id: 2,
            cmt: 'komentar 2 komentar 2 komentar 2 || ',
          },
          {
            id: 3,
            cmt: 'komentar 3 komentar 3 komentar 3 || '
          }
        ],
        nextTodoId: 4
      },
      methods: {
        addNewTodo: function () {
          this.todos.push({
            id: this.nextTodoId++,
            cmt: this.newTodoText
          })
          this.newTodoText = ''
        }
      }
    })

  </script>
</body>

</html>