<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soal 1</title>
</head>
<body>
  <div id="app">
  	<input v-model.lazy="searchText" placeholder="ketikkan kata kunci">
  	<li v-for="book in books" :key="book">
    	{{ book }}
	</li>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

   var vm = new Vue({
      el: '#app',
      data: {
        books : [
        	'Kalkulus Dasar',
        	'Fisika Dasar',
        	'Aljabar Linear Elementer',
        	'Aljabar Abstrak',
        	'Algoritma Pemrograman'
        ]
      }
  })

  </script>
</body>
</html>